body{
   background: #f3eee8;
}

#navbar-main.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

.border-shadow{
	box-shadow: 7px 7px 7px 0;
    color: #aba9a5;
}

/* nav */
#bs-example-navbar-collapse-c ul.navbar-nav li>ul, form#webform-client-form-1 label.element-invisible{
	display: none;
}

#bs-example-navbar-collapse-c ul li a{
    color: #0b2b66;
    text-transform: uppercase;
	font-size: 0.8em;
	font-weight: 600;
	font-family:"source sans pro";
}

#bs-example-navbar-collapse-c ul li:hover, #bs-example-navbar-collapse-c ul li.active-trail {
    background: #18bdff;
	color: #fff;
}

.navbar.center .navbar-collapse .nav {
    float: none;
    display: inline-block;
	margin-top: 5px;
}

.data-mobile img{
	display: inline-block;
}

/* search */
#myModalSearch .modal-dialog{
    width: 90%;
}

#myModalSearch .modal-dialog .modal-content{
    background: transparent;
    box-shadow: none;
    border: none;
}

#myModalSearch .modal-dialog .modal-content .modal-header{
    border-bottom: 2px solid #ff752e;
    text-align: right;
    padding-bottom: 40px;
}

#myModalSearch .modal-dialog .modal-content .modal-footer{
    border-top: 2px solid #ff752e;
}

.search i.fa.fa-search.fa-2x {
    margin-top: 15px;
}

.search-input input{
    margin: 0 10px;
}

#myModalSearch .search-input input.custom-search-box.error {
    border: 2px solid red;
}

/* header */
.top{
    background: #fff;
    padding-top: 2%;
}

.header div img.img-responsive, .options div img.img-responsive{
    display: inline-block;
}

.slogan p {
    font-size: 1.5em;
    margin-left: 20px;
    color: #ff752e;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.6;
	font-family:raleway;
}

.data p, .mv-data p{
	margin-bottom: 2px;
	color: #0b2b66;
}

.mv-data{
    margin-top: 15px;
}

.data > div{
	margin-bottom: 11px;
}

.span.fa-stack, i, form .description, .search-input p{
	color: #ff752e;
	cursor: pointer;
}

.mv-data span.fa-stack{
	margin-right: 10px;
}

.whats-top i.fa.fa-whatsapp.fa-2x{
	margin-left: 5px;
}	

/* contact us */
.row.contact-us h3{
	text-align: center;
    background: #18bdff;
	color: #0b2b66;
    padding: 2%;
	margin-bottom: 1px;
	text-transform: uppercase;
    font-weight: 700;
	font-family:raleway;
}

.contact .back-wt .form-area > p{
	margin: 25px 0;
}

.back-wt .direction {
    margin: 15px 0;
}

.back-wt .direction p {
    margin: 0 2px;
    display: inline-block;
}

.back-wt{
    background: #fff;
    padding-bottom: 15px;
}

.back-wt iframe{
	border:0;
	height: 84%;
}

/* footer */
footer{
    background: #dcdcdc;
    border-top: 3px solid #5f7394;
    padding-top: 10px;
}

.information-iclinica a {
    color: #18bdff;
	text-transform: uppercase;
}

.information-iclinica p {
    text-transform: uppercase;
	font-family:"source sans pro";
} 

.social li{
	display: inline-block;
    margin: 1% 2%;
}

.container.information-iclinica, .container.mv-data{
	padding: 10px 15px 20px 15px;
}

/* user register */
#content div.tabs{
	margin-top: 40px;
}

#content div.tabs ul.tabs.primary{
    margin-bottom: 35px;
    border-bottom: 2px solid #ff752e;
    margin-left: 0;
    padding-bottom: 4px;
	padding-left: 0;
}

#content div.tabs ul.tabs.primary li a {
    border-color: #ff752e;
    background: #d3eef9;
    color: #0b2b66;
    padding: .3em 1em;
}

#content div.tabs ul.tabs.primary li.active a, #content div.tabs ul.tabs.primary li a:hover{
    background: #18bdff;
	color: #fff;
}

/* forms */
form label{
	color: #0b2b66;
}

form#user-register-form label, form#user-login label{
	width: 24%;
}

form .form-text, form textarea{
	padding: 6px 12px;
	font-size: 14px;
	border: 1px solid #ccc;
    border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

form input[type=submit]{
	color: #ff752e;
    background: transparent;
    border: 2px solid #ff752e;
    padding: 6px 15px;
    border-radius: 3px;
    font-weight: 700;
}

form input[type=submit]:hover, .wrapper .btn:hover{
	color: #fff;
    background: #ff752e;
}

form#webform-client-form-1 input.form-text{
	width: 100%
}

form#webform-client-form-1 div.form-actions{
    text-align: center;
}

@media only screen and (min-width: 768px){
	.top .main-menu {
		border-top: 1px solid;
		margin-top: 1%;
		border-bottom: 1px solid;
	}
	
	.navbar-default {
		background-color: #fff;
	} 
	
	.top .main-menu  nav{
		margin-bottom: 1px;
	}
	
	#bs-example-navbar-collapse-c ul.navbar-nav li{
		border-right: 1px solid;
		padding: 0;
	}
	
	#bs-example-navbar-collapse-c ul li:last-child{
		border-right: none;
	}
		
	.contact-us .map .back-wt{
		height: 418px;
	}
	
	.mv-data span.fa-stack.fa-lg.fa-pull-left {
		margin-bottom: 30px;
	}
}

@media only screen and (max-width: 767px){
    .contact-us .contact, .options .col-sm-4{
		margin-bottom: 40px;
	}
	
	.navbar {
		margin: 1px 0 10px;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}
	
	button.navbar-toggle.collapsed{
		margin-top: 14px;
	}
	
	.mv-data{
		text-align:center;
	}
	
	.mv-data .col-sm-3.col-xs-12 {
		margin-bottom: 15px;
	}
	
	.mv-data .fa-pull-left {
		float: none;
	}
	
	ul.primary li {
		display: block;
		margin-bottom: 15px;
	}

	ul.primary li a{
		border: 1px solid #ff752e;
	}

	form *{
		width: 100%!important;
	}
	
	form#search-block-form input#edit-search-block-form--2{
		width: 100%;
		margin-bottom: 20px;
	}
	
}