.container.content-main {
    margin-top: 2%;
    margin-bottom: 5%;
}

.container.content-main h1{
    text-transform: uppercase;
    color: #0b2b66;
	margin-bottom: 2%;
}

.container.content-main b{
	font-weight: 800;
    font-size: 30px;
}

.text-about div{
	padding-left: 0;
}

.content-main-study .content-result{
	border-left: 1px solid #ff752e;
    padding: 2% 4%;
    border-top: 1px solid #ff752e;
}

.content-main-study .content-result> h3{
    margin-top: 0;
    margin-bottom: 25px;
    color: #0b2b66;
    text-transform: uppercase;
}

.content-result .row-result .col-sm-3 a i:hover {
    color: #ff752e;
}

.content-main-study .content-result .title-result{
	background: #dcdcdc;
    margin-bottom: 10px;
	color: #0b2b66;
}

.content-main-study .content-result .row.row-result{
	border-bottom: 1px solid #dcdcdc;
    margin-bottom: 5px;
	padding-bottom: 3px;
}

.content-result .content-process{
	text-align: left;	
}

/* menu tabs */
.main ul.med-nuc{
	display: block;
	text-align: right;
}

.med-nuc li {
    display: inline;
}

.main  ul.med-nuc.list-especial li button{
	padding: 3%;
	width: 135px;
}

.main ul.med-nuc li button, div.card .card-element{
    border: 3px solid #18bdff;
    width: 120px;
    height: 120px;
    text-align: center;
	background: transparent;
	margin-bottom: 10px;
}

.main ul.med-nuc li button:hover, .row-study button:hover , .main ul.med-nuc li.active button{
    background: #18bdff;
	cursor: pointer;
}

.main ul.med-nuc li button:hover span, .main ul.med-nuc li.active button span {
	color: #fff;
}

.main ul.med-nuc li span, div.card .card-element span{
	font-size: 4em;
    color: #18bdff;
    font-family: inherit;
}

.main ul.med-nuc li p, div.card .card-element p {
	text-transform: uppercase;
    color: #ff752e;
}

/* fin */

/* cards */
.card-esp div.card-element{
	padding: 2.5% 2%;
	width: 135px;
}

.list-especial p{
	margin-top: 10px;
}

.body-txt{
	margin-top:8%;
}

.row-vacunas .vac-name p, .body-txt #cardiologia .card-txt p:last-child, .body-txt #ginecologia .card-txt p:last-child, .body-txt #dentista .card-txt p:last-child, .body-txt #general .card-txt p:last-child{
	font-weight: 700;
}

.main .med-nuc, list-promotions .col-sm-6:first-child ul{
	padding: 0;
}

div.card{
	margin-bottom: 40px;
}

div.card h2, .pk-promociones h2{
	padding-bottom: 20px;
    text-transform: uppercase;
    border-bottom: 3px solid #0b2b66;
    margin-bottom: 25px;
    color: #ff752e;
}

.card-view div.card{
	margin-bottom: 60px;
}

.card-view div.card:first-child h2{
	display: none;
}

.row-study .info-study{
	margin: 1% 1.5%;
}
/* fin cards*/

.row-study button {
    padding: 3%;
    width: 170px;
    height: 170px;
    margin: 4% 3%;
	border: 3px solid #18bdff;
	background: transparent;
}

.row-study button p, .row-study button {
    margin-top: 10px;
    margin-bottom: -5px;
    text-transform: uppercase;
	    color: #ff752e;
}

div.row.row-vacunas {
    margin: 0;
}

.row-vacunas > div {
    display: block;
	border-bottom: 1px solid #0b2b66;
	margin: 1% 0;
}

.row-vacunas .vac-name, .row-vacunas .vac-cost {
    display: inline-block;
    width: 30%;
}

.container.search-study {
    margin-bottom: 15px;
    border-top: 2px solid;
    padding-bottom: 10px;
    margin-top: 20px;
    text-align: center;
	color: #0b2b66;
}

.search-study input#input-search {
    width: 40%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    margin: 15px;
    outline: 0;
    height: 2.6em;
    border-radius: 5px;
    color: #ff752e;
}

ul.list-study-type {
    padding: 10px;
    list-style: none;
	margin-bottom: 20px;
}

.list-study-type li {
    margin: 10px 10px 0;
    border-bottom: 1px solid #ff752e;
    padding: 10px;
    text-transform: uppercase;
}

ul.list-study-type li:hover {
    background: #ff752e;
    margin-top: 0px;
    padding-top: 20px;
	cursor: pointer;
}

.list-study-type li * {
    color: #0b2b66;
}

ul.med-nuc.multifilter {
    text-align: right;
}

.body-txt .pk-promociones {
    padding-right: 1%;
}

.pk-promociones .card .border-shadow > h3{
    background: #0b2b66;
    padding: 10px 0;
    margin-bottom: 0;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
}

.pk-promociones .card ul{
    margin: 30px 0;
	text-align: left;
}

.pk-promociones .card ul li {
    color: #0b2b66;
    font-weight: 600;
}

.pk-promociones p.price {
    color: #ff752e;
    font-size: 20px;
    padding-bottom: 20px;
}

.pk-promociones .border-shadow {
    box-shadow: 0px 0px 7px 3px;
    color: #aba9a5;
	text-align: center;
}

.list-promotions .col-sm-6 ul li {
    border-bottom: 1px solid #18bdff;
    list-style: none;
    padding: 5px 0;
}

.list-promotions .col-sm-6 ul li p {
    display: inline-block;
    width: 70%;
    color: #0b2b66;
    margin-bottom: 0;
}

.list-promotions .col-sm-6 ul li p:nth-child(2) {
    text-align: right;
    color: #ff752e;
    width: 25%;
}

/* media */

@media only screen and (min-width: 768px){
	.row-result div>p>span {
		display: none;
	}
	.card-txt{
		padding-left: 40px;
	}
}
@media only screen and (max-width: 768px){
    
	.content-main-study .content-user{
		margin-bottom: 20px;
	}
	.row-result div>p>span {
		display: inline;
		font-weight: 700;
	}
	.content-main-study .content-result .row.row-result{
		text-align: left;
	}
	.content-result .content-process p{
		margin-left: 10px;	
	}
	.card-txt{
		padding-left: 0px;
	}
	
	ul.med-nuc.multifilter, .main ul.med-nuc {
		text-align: center;
		margin-top: 45px;
	}
    
	.pk-promociones .card img{
		display: inline-block;
	}

	.list-promotions .col-sm-6:nth-child(2) ul {
		padding: 0;
	}
}