body{
   background: #dad4d9;
}

.top{
    background: #fff;
}

.header {
    margin-top: 2%;
}

.header div.col-sm-3:first-child p{
	font-size: 1.8em;
    margin-left: 20px;
    color: #966305;
}

.header div img.img-responsive {
    display: inline-block;
}

.top .main-menu  nav{
	margin-bottom: 1px;
}

div#bs-example-navbar-collapse-c {
    text-align: center;
}

.navbar.center .navbar-collapse .nav {
    float: none;
    display: inline-block;
}

.data-mobile img, .data-mobile h4{
	display: inline-block;
}

footer{
    background: #ababab;
    border-top: 3px solid;
    padding-top: 10px;
}
.social{
	text-align: center;
}

.container.information-iclinica{
	padding-bottom: 2%;
}


@media only screen and (min-width: 768px){
	.top .main-menu {
		border-top: 1px solid;
		margin-top: 1%;
	}
}

@media only screen and (max-width: 768px){
	.navbar {
		margin-top: 10px;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}
}