.carousel-caption {
	padding-bottom: 50px;
}

.my-carousel-left, .my-carousel-right {
    position: absolute;
    top: 35%;
    z-index: 5;
    display: inline-block;
}

.my-carousel-right {
    right: 50%;
}

.my-carousel-left {
    left: 50%;
}

.fa-border {
    border-radius: 1em;
}

.promotions.container-fluid {
    padding: 0px 1px 1px;
}

.banner-clinica{
    /*min-height: 300px;*/
    background-position: center center;
    background-size: cover;
	background: url("../img/banner.jpg");
    background-color: #313619;
	margin: 4% 0;
}

.banner-clinica .container {
    padding: 5% 8%;
}

.banner-clinica .container h1{
	text-align: center;
	margin-bottom: 3%;
}

.content-main .row{
	margin-bottom: 4%;
}

.row.tags {
    border: 2px solid;
    padding: 4%;
	margin-left: 0;
    margin-right: 0;
}

.tags ul:first-child{
	display: block;
	margin-bottom: 1px;
}

.tags ul:first-child li, .social li{
	display: inline-block;
    margin: 1% 2%;
}

.row.contact-us h3{
	text-align: center;
    background: #40aff3;
    padding: 2%;
	margin-bottom: 1px;
}

.contact .form-area form > p, .map .back-wt >p {
	margin: 25px 0;
}

.back-wt{
    background: white;
    padding-bottom: 15px;
}

/* media */

@media only screen and (min-width: 768px){
	.contact-us .map .back-wt{
		height: 460px;
	}
	
	.back-wt iframe{
		border:0;
		height: 85%;
	}
	
	#bs-example-navbar-collapse-c ul.navbar-nav li{
		border-right: 1px solid;
	}
	
	#bs-example-navbar-collapse-c ul li:last-child{
		border-right: none;
	}
	
	.my-carousel-left, .my-carousel-right{
		font-size: 3em;
	}	
	
	.options button{
		margin-top: -35%;
	}
}
@media only screen and (max-width: 768px){
	div#myCarousel, .carousel-inner img.img-responsive{
		height: 250px;
	} 
	
	.top.container-fluid  > .banner-clinica{
		min-height: 150px;
		background-position: center center;
	}
	
	.contact-us .contact, .options .col-sm-4{
		margin-bottom: 40px;
	}
	
	.my-carousel-left, .my-carousel-right{
		font-size: 2em;
	}
	
	.back-wt iframe{
		height: 100%;
	}
}