body{
   background: #dad4d9;
}

#navbar-main.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

.search i.fa.fa-search.fa-2x {
    margin-top: 15px;
	cursor: pointer;
}

.data p{
	margin-bottom: 2px;
}

.phone-top, .whats-top, .location-top{
	margin-bottom: 11px;
}

.whats-top i.fa.fa-whatsapp.fa-2x{
	margin-left: 5px;
}

.top{
    background: #fff;
}

.header {
    margin-top: 2%;
}

.header div.col-md-3:first-child p{
	font-size: 1.8em;
    margin-left: 20px;
    color: #966305;
}

.header div img.img-responsive, .options  div img.img-responsive{
    display: inline-block;
}

.navbar.center .navbar-collapse .nav {
    float: none;
    display: inline-block;
	margin-top: 5px;
}

.data-mobile img, .data-mobile h4{
	display: inline-block;
}
	
footer{
    background: #ababab;
    border-top: 3px solid;
    padding-top: 10px;
}

.container.information-iclinica{
	padding-bottom: 2%;
}


@media only screen and (min-width: 768px){
	.top .main-menu {
		border-top: 1px solid;
		margin-top: 1%;
	}
	.top .main-menu  nav{
		margin-bottom: 1px;
	}
}

@media only screen and (max-width: 768px){
	.navbar {
		margin: 1px 0 10px;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}
	
}