body{
   background: #dad4d9;
}

.top{
    background: #fff;
}

div#bs-example-navbar-collapse-c {
    text-align: center;
}

.navbar.center .navbar-collapse .nav {
    float: none;
    display: inline-block;
}

footer{
    background: #ababab;
    border-top: 3px solid;
    padding-top: 10px;
}
.social{
	text-align: center;
}

.container.information-iclinica{
	padding-bottom: 2%;
}